<%= form_for @puser do |f| %>

	<div class = "user_name">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class = "user_age">
		<%= f.label :age %>
		<%= f.number_field :age %>
	</div>
	<div class = "user_gender">
		<%= f.label :gender %>
		<%= f.text_field :gender %>
	</div>
	<div class = "user_nationality">
		<%= f.label :nationality %>
		<%= f.text_field :nationality %>
	</div>
	<div class="actions">
    <%= f.submit %>
  </div>

 <% end %>
<br />
<hr />
 <%= params.inspect %>